@model IRequestCookieCollection
@{
    ViewData["Title"] = "Index";
}

<h1>List of Cookies</h1>

<table class="table">

    <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Actions</th>
    </tr>

    @foreach (var cookie in Model)
    {
        <tr>
            <td>@cookie.Key</td>
            @if(cookie.Value.Length > 10)
            {
                <td>@cookie.Value.Substring(0,10)...</td>
            }
            else
            {
                <td>@cookie.Value</td>
            }
            <td>
                <a href="@Url.Action("Details","Home",new { key = cookie.Key})">Details</a>
                | <a href="@Url.Action("Edit","Home", new { key = cookie.Key})">Edit</a>
                | <a href="@Url.Action("Delete","Home", new { key = cookie.Key })">Delete</a>
            </td>
        </tr>
    }
</table>
<hr />
<a href="@Url.Action("Add","Home")">Add Cookie :)</a>

<a href="@Url.Action("Clear","Home")">Clear all Cookies!</a>